<!DOCTYPE html>
<html lang="en">
<head>
  {{template "head.html"}}
</head>
<body>
  {{template "navbar.html"}}
  {{template "query-input.html" .}}

  <div class="container">
    <div class="row">
        {{range .Results}}
          <div class="col-md-12 result">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">
                  <p>
                    {{if eq .Type "p"}}
                      <span class="label label-package">Package</span>
                    {{end}}
                    {{if eq .Type "f"}}
                      <span class="label label-func">Function</span>
                    {{end}}
                    <span class="name">
                      {{if .Highlights.Name}}
                        {{.Highlights.Name}}
                      {{else}}
                        {{.Name}}
                      {{end}}
                    </span>
                  </p>
                  <p class="link-wrapper">
                    <a href="{{.Link}}" target="_blank">{{.Link}}</a>
                  </p>
                </div>
              </div>
            </div>
            {{if .Highlights.Content}}
              <div class="row">
                <div class="col-md-12">
                  <div class="well content-highlight">
                    {{.Highlights.Content}}
                  </div>
                </div>
              </div>
            {{end}}
          </div>
        {{else}}
          <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-warning no-results" role="alert">
              <p>Sorry, there is nothing like that</p>
            </div>
          </div>
        {{end}}
    </div>
  </div>

  {{template "scripts.html"}}
</body>
</html>
